<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Zoomer Test" verbose="1" >
    <test name="LoginPageTest" >
        <classes>
            <class name="LoginPageTest" />
        </classes>
    </test>

    <test name="FilterTest" >
        <classes>
            <class name="FilterTest" />
        </classes>
    </test>
    <test name="NavigationTest" >
        <classes>
            <class name="NavigationPageTest" />
        </classes>
    </test>
</suite>

